<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have any technical questions related this website, or Ruby on Rails, feel free to catch via mail <strong> quanghoan1992@gmail.com</strong>
</p>