<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get support
  <a href="https://www.facebook.com/qhdao">Sunday</a>.
  
</p>
<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>