<% provide(:title, "Help") %>
<h1>Help</h1>
<div class="col-md-8 col-md-offset-2">
	<p>
	  To get support, catch me: 
	  <a href="https://www.facebook.com/qhdao">Sunday Monday</a>.
	  
	</p>
	Trang web vẫn đang trong giai đoạn hoàn thiện, cảm ơn đã đọc :v
</div>
<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>