<footer class="page-secction footer-page">
  <ul>
    <a title="hoan dep zai" target="blank" href="https://www.facebook.com/qhdao"><li class="icon facebook"></li></a>
    <a title="dao quang hoan" target="blank" href="https://plus.google.com/u/0/112058787249428453351/posts"><li class="icon googleplus"></li></a>
    <a title="hoandq" target="blank" href="https://www.youtube.com/channel/UCws3qlX-Bfh89o-_wtvuJNA"><li class="icon youtube"></li></a>
    <div class="clear-fix"></div>
  </ul>
</footer>